<!DOCTYPE html>
<html>
<head>
    <title>회원가입 양식</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"> <!-- 외부 스타일 시트 연결 -->

</head>
<body>
<h1>회원가입 양식</h1>

<form id="signupForm">

    <label for="lastName">성:</label>
    <input type="text" id="lastName" name="lastName" required><br><br>

    <label for="firstName">이름:</label>
    <input type="text" id="firstName" name="firstName" required><br><br>

    <label for="email">이메일:</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required><br><br>

    <button type="submit">회원가입</button>
</form>

<div id="result">
    <!-- 회원가입 결과가 여기에 표시됩니다. -->
</div>

<script>
        // Form 제출 시 이벤트 핸들러를 등록합니다.
        document.getElementById('signupForm').addEventListener('submit', function (e) {
            e.preventDefault(); // 기본 제출 동작을 막습니다.

            // 입력한 회원 정보를 가져옵니다.
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const firstName = document.getElementById('firstName').value;
            const lastName = document.getElementById('lastName').value;
            console.log('f :',email, 'f :', password, 'f :', firstName, 'f :',lastName);

            // API 엔드포인트와 함께 fetch를 사용하여 회원가입 요청을 보냅니다.
            fetch('http://localhost:8000/members', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    lastName : lastName,
                    firstName : firstName,
                    email: email,
                    password: password
                }),
            })
                .then(response => response.json()) // JSON 형식으로 응답을 파싱합니다.
                .then(data => {
                    // 회원가입 결과를 화면에 표시합니다.
                    const resultElement = document.getElementById('result');
                    resultElement.innerHTML = `<p>회원가입 결과: 성공</p>`;
                })
                .catch(error => {
                    console.error('회원가입 중 오류 발생:', error);
                });
        });
    </script>
</body>
</html>