server:
  port: 4000

spring:
  # db 설정
  data:
    mongodb:
      host: localhost
      port: 27017
  # mail 설정
  mail:
    host: smtp.gmail.com # 1
    port: 587 # 2
    username: ${MAIL_USERNAME} # 3
    password: ${MAIL_PASSWORD} # 4
    properties:
      mail:
        smtp:
          auth: false # 5
          timeout: 5000 # 6
          starttls:
            enable: true # 7
  # OAuth 설정
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENTID}
            client-secret: ${GOOGLE_CLIENTSECRET}
            authorization-grant-type: authorization_code
            scope: email, profile
          naver:
            client-id: ${NAVER_CLIENTID}
            client-secret: ${NAVER_CLIENTSECRET}
            redirect-uri: http://localhost:8000/login/oauth2/code/naver
            authorization-grant-type: authorization_code
            scope: email, name
            client-name: Naver
          kakao:
            client-id: ${KAKAO_CLIENTID}
            client-secret: ${KAKAO_CLIENTSECRET}
            redirect-uri: http://localhost:8000/login/oauth2/code/kakao
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope: profile_nickname
            client-name: Kakao
        provider:
          naver:
            authorization_uri: https://nid.naver.com/oauth2.0/authorize
            token_uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user_name_attribute: response
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
  # redis 설정
  redis:
    host: localhost
    port: 6379
    password: ${REDIS_PASSWORD}

# jwt 설정
jwt:
  secret: ${JWT_SECRET}
